- provide(:title, 'Advanced M:tG decks')

%h1 Advanced decks

%p
  Each advanced deck introduces a second color to the deck, and expands on the first deck's theme.

%p
  Each color appears twice in the whole series.

%ul.thumbnails
  - @decks.each do |d|
    %li.span2
      %a.thumbnail{ href: deck_path(d) }
        %img{ src: "http://placehold.it/160x120&text=" + d.title }
