- provide(:title, 'Advanced M:tG decks')

%h1 Advanced decks

%p
  Each advanced deck introduces a second color to the deck, and expands on the first deck's theme.

%p
  Each color appears twice in the whole series.

%ul.decks
  - @decks.each do |d|
    %li
      %a{ href: deck_path(d) }
        =d.title
