- provide(:title, 'Basic rules of Magic: the Gathering')

.row
    .span3.sidebar
        %ul.nav.nav-list.well
            %li.nav-header Introduction
            %li
                %a{ href: '#' } What is this game about?
            %li
                %a{ href: '#' } The game zones
            %li
                %a{ href: '#' } The colors
            %li
                %a{ href: '#' } The card types
            %li.nav-header How to play
            %li
                %a{ href: '#' } The game steps
            %li
                %a{ href: '#' } A typical turn

    .span9
        %h1 Basic rules of Magic: the Gathering
        
        %p
            The first step in teaching the game is, of course, to teach the
            %em rules
            of the game.

        %h3 What is this game about?

        %p Yeah, let's not forget that, it's quite important! Say something along these lines:
        
        %blockquote
            %p
                We are two powerful magicians, called planeswalkers.<br />
                We fight, because... well, because that's how we roll, I guess.<br />
                We fight through the means of spells, and the summoning of creatures.<br />
                Mana is what powers our spells and allows us to summon the creatures.
        
        %h3 The game zones
        
        %p What is going on with all these piles?
        
        %ul
            %li The library
            %li The hand
            %li The battlefield
            %li The graveyard
            %li The exile zone: it will not come up in the beginners decks, so you can skip it for now.
        
        %h3 The colors
        
        %p
            Cards have color. The game have 5 colors: White, Blue, Black, Red, Green. You can
            play any number of color in your deck as you want, but the mana used to cast spells
            have a color, so the more colors you have in your deck, the hardest it is to cast
            your spells.

        %p
            While you're at it, consider this an opportunity to talk about color philosophy.
            In addition to the rules, I mean. It can help many people to get engaged in the
            game.

        %ul
            %li White is the color of order, protection, law.
            %li Blue is the color of intellect, knowledge, rationality.
            %li Black is the color of selfishness.
            %li Red is the color of emotions, chaos.
            %li Green is the color of nature, growth.
        
        %h3 The card types

        %p
            So many card types to learn! We'll stick to the basics for now and, at least in
            the beginners series, we won't be talking about legends, tribal, fortifications,
            basic land types on non-basic lands (like the Ravnica shocklands), snow, etc.

        %p
            There are two great categories of cards: permanents, and non-permanents. Every card
            is a permanent except for instants and sorceries. This mean than every permanent
            stays on the battlefield until it's destroyed, killed, sacrificed, etc.
        
        %ul
            %li Lands: every deck has lands. They provide mana, which allows us to cast spells.
            %li Creatures: these are the meat of the game. Attack with them, defend with them.
            %li
                Sorceries and instants: they are cast, and immediately sent to the graveyard. The
                only difference between them is that sorceries can only be played at certain times,
                let's say "during your turn when nothing is happening" for now.
            %li
                Enchantments: they are magical, continuous effects. There are two types of enchantments:
                %ul
                    %li Global enchantments
                    %li Auras
            %li
                Artifacts: they are objects of power. They are most often colorless, and many of
                them are equipments, which attach to creatures, a bit like auras, to give them boosts
                and abilities.
            %li Planeswalkers: they will not appear in the beginners decks, so you can skip them.

        %p
            Here you can specify that almost every card type can mix with another one, the most
            common being artifact/creature.

        %h3 How to play

        %h4 The game steps

        %ol
            %li Untap: every permanent you control untaps
            %li
                Upkeep: just say it's just here so some things can happen at the beginning of the
                turn, before a player draws.
            %li Draw a card
            %li Pre-combat main phase
            %li
                Combat phase
                %ol
                    %li Begin combat
                    %li Declare attackers
                    %li Declare blockers
                    %li Damage
                    %li End phase
            %li Post-combat main phase
            %li End of turn

        %h4 A typical turn
        
        %hr

        %h2 Need a bit more help?

        %p
            Oh my, that was a LOT of basic rules! How do you keep track of them all?<br />
            Fear not, because we have yet another tool in our bag: a cheat sheet!

