- provide(:title, 'Basic rules of Magic: the Gathering')

.row
    .span3.sidebar
        %ul.nav.nav-list.well
            %li.nav-header Introduction
            %li
                %a{ href: '#about' } What is this game about?
            %li
                %a{ href: '#zones' } The game zones
            %li
                %a{ href: '#colors' } The colors
            %li
                %a{ href: '#cards' } The card types
            %li.nav-header How to play
            %li
                %a{ href: '#steps' } The game steps
            %li
                %a{ href: '#turn' } A typical turn

    .span9
        %h1 Basic rules of Magic: the Gathering
        
        %p
            The first step in teaching the game is, of course, to teach the
            %em rules
            of the game.

        %h3#about What is this game about?

        %p Yeah, let's not forget that, it's quite important! Say something along these lines:
        
        %blockquote
            %p
                We are two powerful magicians, called planeswalkers.<br />
                We fight, because... well, because that's how we roll, I guess.<br />
                We fight through the means of spells, and the summoning of creatures.<br />
                Mana is what powers our spells and allows us to summon the creatures.
        
        %h3#zones The game zones
        
        %p What is going on with all these piles?
        
        %ul
            %li The library: it's the memory. Where the spells are located. What I can draw.
            %li The hand: it's the mind. What I'm thinking about. What I can cast now.
            %li The battlefield: it's where the action is. It's where the permanents end up. It's where the creatures fight each other.
            %li The graveyard: it's where a creature goes when it dies, and where a spell ends up when it's done.

        %p Additionnaly, there are two zones that end up mattering rarely.
        
        %ul
            %li The exile zone: when a card goes there, it's never reachable again (except if it says that it comes back).
            %li The stack: it's where a spell goes while it's cast.
        
        %h3#colors The colors
        
        %p
            Cards have color. The game have 5 colors: White, Blue, Black, Red,
            Green.<br/>
            You can play any number of color in your deck as you want, but the
            mana used to cast spells have a color too, so the more colors
            you have in your deck, the hardest it is to cast your spells.


        %h3#types The card types

        %p
            So many card types to learn! We'll stick to the basics for now and, at least in
            the beginners series, we won't be talking about legends, tribal, fortifications,
            basic land types on non-basic lands (like the Ravnica shocklands), snow, etc.

        %p
            There are two great categories of cards: permanents, and non-permanents. Every card
            is a permanent except for instants and sorceries. This mean than every permanent
            stays on the battlefield until it's destroyed, killed, sacrificed, etc.
        
        %ul
            %li Lands: every deck has lands. They provide mana, which allows us to cast spells. No land = no mana = no spell.
            %li Creatures: these are the meat of the game. Attack with them, defend with them. Creatureless decks are possible, though.
            %li
                Sorceries and instants: they are cast, and immediately sent to the graveyard. The
                only difference between them is that sorceries can only be played at certain times,
                let's say "during your turn when nothing is happening" for now.
            %li
                Enchantments: they are magical, continuous effects. There are two types of enchantments:
                %ul
                    %li Global enchantments: they have an global effect on the game. Either they help you, or they hinder your opponent.
                    %li Auras: they have a local effect; for instance, they boost a creature.
            %li
                Artifacts: they are objects of power. They are most often colorless, and many of
                them are equipments, which attach to creatures (a bit like auras), to give them boosts
                and abilities.
            %li Planeswalkers: they are powerful allies who help you. They will not appear in the beginners decks, so you can skip them.

        %p
            Here you can specify that almost every card type can mix with another one, the most
            common being artifact/creature.

        %h3 How to play

        %h4#steps The game steps

        %p The game has very organized steps. They help the game to be about strategy, and not reflex.

        %ol
            %li Untap: every permanent you control untaps.
            %li Upkeep: sometimes stuff happens there. For instance, you might need to pay a tax.
            %li Draw a card.
            %li Pre-combat main phase: play lands, spells, creatures...
            %li
                Combat phase
                %ol
                    %li Begin combat: the opponent can react before you declare your attackers.
                    %li Declare attackers: you declare which creatures attack, and then the opponent can react (and you can react to the reaction).
                    %li Declare blockers: the opponent declares which creatures block which one, and then everybody can react.
                    %li Damage: first, the first-strike creatures deal damange. Once this is done, the remaining (and still standing) creatures deal their own.
                    %li End phase: it's possible (even though it's rare) to react at this stage.
            %li Post-combat main phase: play lands, spells, creatures...
            %li End of turn: the opponent can do stuff at the end of the turn, before untapping at the beginning of his own.

        %h4#turn A typical turn
        
        %hr

        %h2 Need a bit more help?

        %p
            Oh my, that was a LOT of basic rules! How do you keep track of them all?<br />
            Fear not, because we have yet another tool in our bag: a cheat sheet!

