- provide(:title, 'Beginners M:tG decks')

%h1 Decks for beginners

%p
  Each beginner deck has only one color.

%ul.decks
  - @decks.each do |d|
    %li
      %a{ href: deck_path(d) }
        =d.title
