- provide(:title, 'Beginners M:tG decks')

%h1 Decks for beginners

%p
    Each beginner deck has only one color.

%ul
    %li White: enchantments
    %li Blue: illusions
    %li Black: vampires
    %li Red: goblins
    %li Green: ramp