- provide(:title, 'Beginners M:tG decks')

%h1 Decks for beginners

%p
  Each beginner deck has only one color.

%ul.thumbnails
  - @decks.each do |d|
    %li.span2
      %a.thumbnail{ href: deck_path(d) }
        %img{ src: "/assets/images/#{d.slug}.jpg" }
        = d.title
