- provide(:title, 'Simple & cheap M:tG decks')

%h1 Simple &amp; cheap decks: the concepts

%p
    The first step to teach an easy Magic is to have simple decks. <i>Simple</i>
    is very important, and will follow a few rules, that we will explore later.
    The rules are specific to each teaching level, but in general, it's about
    not having many keywords, having the most simple board, and being the most
    intuitive.

%p
    In order to make it easy for you, the teacher, the decks are also cheap:
    they can be bought for about $10 max, and we tried to put in many bulk cards
    that can be found in your shoeboxes full of "unplayables".

%p
    Also importantly, the decks should mainly be full of recent cards. The more
    recent the card is, the easier it is to acquire it.

%p
    If you don't have a card in a deck but you don't want to buy it, and you seek to
    replace it a similar one you own, follow a simple rule: it's better if the card you
    choose is worse (power-wise) but simpler. Try to stick to the restrictions guidelines
    as much as possible.

%h1 Restrictions guidelines

%p
    In the recent years, Wizards has started a policy called New World Order, aimed at
    reducing the complexity at common rarity. We will go much further, and will aim to
    reduce the complexity on the whole decks.

%h2 Rules for simplicity

%h3 General rules for both levels

%ul
    %li
        The decks should be simple enough to play, so no combo deck, and no deck that
        the player needs to know well in order to play it.
    %li
        The decks should follow the Modern format, with the exception of timeshifted
        and futureshifted cards (in order not to confuse the new player with different
        borders).
    %li
        No complex card to understand (with many lines of rule text, or which you
        spend 5 minutes understanding).
    %li
        No cards that have rarely-seen types, like land-creature, or the uncommon
        "semi-basic" Shadowmoor lands cycle. No tribal cards either. You don't want
        to confuse the new player.

%h3 Rules specific to the beginners decks

%p
    The rules will be enforced at the "Beginners" level, but will be broken at the
    "Advanced" level. They are very common things, so every player must know about
    them, but they are often confusing, so it's important to keep them for later.

%ul
    %li
        No keyword except vanilla ones (flying, trample, first strike...). Ability
        keywords are acceptable (metalcraft, domain, kinship...)
    %li
        No counters (+1/+1, poison, loyalty or otherwise). The teaching games should
        not be about tracking what happens, but making things happen. Plus, you don't
        always have counters or dices handy.
    %li
        No tokens. You don't always have tokens handy, and new player certainly never.
    %li
        No regeneration. It's one of the most confusing rules for a new player
    %li
        No exile, and no protection.
    %li
        Legendary permanents should not be present more than once in a deck.
    %li
        No weird mana symbol (phyrexian, hybrid or snow, for instance).

%h3 Upping the complexity in the advanced series

%ul
    %li
        Tokens, counter, regeneration and exile must appear a few times in the whole
        cycle of decks. Obviously you can't put all of them in each deck: for instance,
        blue does not regenerates, and green does not exile.
    %li
        "Special" keywords will be introduced, at the rate of 1 or 2 per deck maximum.
        These keywords must not be the most complicated ones (not cascade, for instance).
        Bonus points if these keywords introduce tokens, counters or exile for instance.
    %li
        If possible, at least one deck should have a legendary permanent in multiple
        copies. It's important to teach the legend rule (remember it has recently changed).

%h2 Rules for cheapness

%ul
    %li
        The Beginners decks should not be estimated at more than $10 on most
        sites. The Advanced decks should not add more than $5 to the total.
    %li
        No card should cost more than 1 dollar, except if the rest of the deck
        is really cheap.
    %li
        As a result of these two rules, most of the deck should be comprised of
        commons and uncommons.
    %li
        Most of the deck should be buildable from recent editions, because
        recent cards are easier to find.
    %li
        Cards that should be found aplenty in your Magic boxes in your garage
        should be preferred over similar also-cheap-but-harder-to-find cards.
    %li
        Rares & mythics should only be for big creatures or game-breaking
        spells: not "utility cards" (like Underworld Connections), nor "helper
        cards" (like Gyre Sage), nor lands (dual of otherwise).
