- provide(:title, 'Drafting as a tool to teach Magic: the Gathering')

%h1 Drafting as a tool to teach Magic: The Gathering

%p
  Now your students know how the game works.<br>
  Great! It's time to show them another
  awesome facet of the game: the owernership of the cards.


%p
  Want to help with the building of this site ? Drop me an email at
  %a{ href: "mailto:contact@teachmtg.com" } contact@teachmtg.com
  \.