- provide(:title, 'Philosophies of the game Magic: the Gathering')

%h1 The philosophies of the game Magic: the Gathering

%p
  We're not talking about life philosophy here, obviously, but about Magic's
  flavor, conflicts, etc.

%p
  While you're at it, consider this an opportunity to talk about
  color philosophy. In addition to the rules, I mean. It can help
  many people to get engaged in the game.

%ul
  %li
    %a{ href:'http://www.wizards.com/Magic/Magazine/Article.aspx?x=mtgcom/daily/mr57' } White:
    harmony, order, protection, law, community, peace, structure, law, purity, religion, honor, politics, medicine...
  %li
    %a{ href: 'http://www.wizards.com/Magic/Magazine/Article.aspx?x=mtgcom/daily/mr84' } Blue:
    intellect, knowledge, rationality, creativity, subtlety, artifice, illusion, trickery, control...
  %li
    %a{ href: 'http://www.wizards.com/Magic/Magazine/Article.aspx?x=mtgcom/daily/mr109' } Black:
    death, individualism, corruption, fear, amorality, execution, decay, deceit, manipulation..
  %li
    %a{ href: 'http://www.wizards.com/Magic/Magazine/Article.aspx?x=mtgcom/daily/mr133' } Red:
    emotions, impulse, chaos, violence, brutality, destruction, fire, military, randomness, short-term thinking...
  %li
    %a{ href: 'http://www.wizards.com/Magic/Magazine/Article.aspx?x=mtgcom/daily/mr43' } Green:
    life, nature, growth, reality, community, spiritualism, instinct, animals...


%p These colors are represented on the back of Magic cards. They are "allied" with their neighbors, and "ennemies" with the others. The relationships are the following.

%ul
  %li White and Blue: restraint, planning, discipline, rules.
  %li Blue and Black: see the reality for what it is, and not what they wish.
  %li Black and Red: not afraid to act for their own interest, and do what they want.
  %li Red and Green: driven by instinct, and destructive element.
  %li Green and White: like the group, love the life.
  %li White vs Black: morality vs amorality, individual vs group.
  %li Black vs Green: life vs death.
  %li Green vs Blue: nature vs technology, intellect vs instinct.
  %li Blue vs Red: rationality vs emotion, construction vs destruction.
  %li Red vs White: order vs chaos.

%p These philosophies translate into mechanical identities.

%ul
  %li White: life gain, damage prevention, two-sided "reset buttons", attackers removal, protection, enchantment removal, defensive enchantments, taxing (pay more to do what you want). White also cares about equipments (for its soldiers).
  %li Blue: counterspells, bounces, manipulation, mind control, invisibility, flying. Blue also has synergy with artifacts.
  %li Black: discard, life drain, creature destruction. Black can do almost anything at a price (often paying life or sacrificing creatures).
  %li Red: direct damange (fireballs), artifact and land destruction, quickness, fast mana, randomness, temporary manipulation... Red is the color that needs to win fast, or not at all.
  %li Green: growth in creatures and lands, big creatures, artifact destruction, life gain, creatures fight. Many of Green's effects come from its creatures.

%p Finally, the colors each have representative creatures.

%ul
  %li White: Cats and Dogs, Kors, Knights, Soldiers, Birds, most Humans, and Angels.
  %li Blue: Merfolks, Vedalken, Sea monsters, Faeries, Illusions, Shapeshifters, and Sphinxes.
  %li Black: Vampires, Zombies, Skeletons, Bats, Shades, Rats, Specters, and Demons.
  %li Red: Goblins, Elementals, Ogres, Giants, Phoenixes, and Dragons.
  %li Green: Elves, Insects, Centaurs, Spiders, Wild Beasts, Wurms, and Hydras.
