- provide(:title, 'Resources')

%h1 More resources to help in teaching Magic: the Gathering

%ul
    %li
        %a{ href: "http://www.wizards.com/magic/magazine/article.aspx?x=mtg/daily/mm/200" } To Teach Their Own
        by Mark Rosewater, on DailyMTG.com
    %li
        %a{ href: "http://www.manaleak.com/mtguk/2011/07/how-to-teach-new-players-magic-the-gathering-by-adrian-thoung/" } How to teach M:TG
        by Adrian Thoung, on Manaleak.com
    %li
        %a{ href: "http://www.mtgsalvation.com/28-teaching-magic.html" } Teaching Magic
        by Bork, on MTGSalvation.com
    %li
        %a{ href: "http://growingupgamers.blogspot.fr/2012/02/dos-and-donts-for-teaching-someone-to.html" } Do's and don'ts for teaching someone to play M:TG
        by Julian, on Growing Up Gamers
    %li
        %a{ href: "http://boardgames.stackexchange.com/questions/2364/how-should-i-approach-teaching-magicthe-gathering-to-a-new-player" } How should I approach teaching M:TG to a new player
        on boardgames.stackexchange.com
    %li The latest Duels of the Planeswalkers (try the demo)
    %li Any Core Set introduction deck
