- provide(:title, 'Resources')

%h1 More resources to help in teaching Magic: the Gathering

%ul
    %li http://www.wizards.com/magic/magazine/article.aspx?x=mtg/daily/mm/200
    %li http://www.manaleak.com/mtguk/2011/07/how-to-teach-new-players-magic-the-gathering-by-adrian-thoung/
    %li The latest Duels of the Planeswalkers (try the demo)
    %li Any Core Set introduction deck
    %li http://www.mtgsalvation.com/28-teaching-magic.html
    %li http://growingupgamers.blogspot.fr/2012/02/dos-and-donts-for-teaching-someone-to.html
    %li http://boardgames.stackexchange.com/questions/2364/how-should-i-approach-teaching-magicthe-gathering-to-a-new-player