- provide(:title, 'Rules of Magic: the Gathering at their most simple')

%h1 Rules of Magic: the Gathering at their most simple


%p
  Want to help with the building of this site ? Drop me an email at
  %a{ href: "mailto:contact@teachmtg.com" } contact@teachmtg.com.