- provide(:title, 'World, story and lore of the Magic: the Gathering world')

%h1 World, story and lore of the Magic world

%p
  Want to help with the building of this site ? Drop me an email at
  %a{ href: "mailto:contact@teachmtg.com" } contact@teachmtg.com.