- provide(:title, @deck.title + " - Teach Magic: The Gathering")

%h1
  = @deck.title

%h2 Deck description

.description
  = @deck_description

%h2 Deck list

.decklist
  = decklist_to_html(@deck_list)