<footer>
	<p>
		Any question, suggestion, advice? <a href="mailto:contact@teachmtg.com">Ask away</a>!
	</p>
    <div class="contrib">
        <a href="https://github.com/cosmo0/TeachMTG" target="_blank">Contribute</a>
    </div>
</footer>